@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-chakra-petch), ui-sans-serif, system-ui, sans-serif;
  --color-foreground: #284260;
  --color-primary: #1CA7C8;
  --color-primary-foreground: #FFFFFF;
  --color-muted-foreground: #6e859f;
  --color-neutral:#9D9D9D;
}

.dark {
  --color-background: hsl(211 41% 10%);
  --color-foreground: #fafafa;
  --color-primary: #1CA7C8;
  --color-primary-foreground: #0f1924;
  --color-muted-foreground: #FFFFFF;
  --color-neutral:#9D9D9D;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
