@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 211 41% 27%;
    --card: 0 0% 100%;
    --card-foreground: 211 41% 27%;
    --primary: 191 75% 45%;
    --primary-foreground: 0 0% 100%;
    --muted-foreground: 212 21% 52%;
  }

  .dark {
    --background: 211 41% 10%;
    --foreground: 0 0% 98%;
    --card: 211 41% 15%;
    --card-foreground: 0 0% 98%;
    --primary: 191 75% 55%;
    --primary-foreground: 211 41% 10%;
    --muted-foreground: 212 21% 65%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

